.todo-menu {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ccc;
    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        width: 100%;
        justify-content: space-between;

        & > li:first-child {
            cursor: default;
        }

        & > li {
            padding: 4px;
            cursor: pointer;
        }
    }
}