.todo-item {

    &__container {
        display: flex;
        & > * {
            display: flex;
            align-self: center;
        }
    }

    &__label {
        flex-grow: 1;
        padding: 0 15px;
        app-input, input {
            width: 100%;
        }
    }
}